{
  "plugins": [
    "transform-runtime", "transform-class-properties"
  ],
  "presets": [["es2015", { "modules": false }], "react", "stage-0"],
  "env": {
    "cacheDirectory": true,
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
