{
  "plugins": [
    "transform-runtime"
  ],
  "presets": [["es2015", { "modules": false }], "react", "stage-2"],
  "env": {
    "cacheDirectory": true,
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
