.idea
doc
examples
test

# root files
.editorconfig
.eslintrc.yml
.istanbul.yml
.travis.yml
.nvmrc
esdoc.json
webpack.bundle.config.js
webpack.common.config.js
webpack.web.config.js
webpack.web-min.config.js
yarn.lock
