.idea
doc
examples
src
test

# root files
.editorconfig
.eslintrc.yml
.istanbul.yml
.travis.yml
esdoc.json
webpack.common.config.js
webpack.node.config.js
webpack.web.config.js
webpack.web-min.config.js
